:root {
  font-family:
    Inter,
    ui-sans-serif,
    sans-serif;
  color: #20243b;
  background: #f6f7fc;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
